<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="container">
      <a class="navbar-brand" href="/">Home</a>
      <div class="navbar-nav">
        <a class="nav-link" href="high52">52-Week High</a>
        <a class="nav-link" href="low52">52-Week Low</a>
      </div>
    </div>
      <div>
        <form class="container" (submit)="search()">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [formControl]="searchText">
        </form>
      </div>
  </div>
</nav>
