.header {
  height: 60px;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  align-items: center;
}

p {
  width: 100%;
  margin: auto;
}

.container {
  display: flex;
  margin-left: 0;
  max-width: fit-content;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  left: 0;
}

.nav-link {
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: bisque;
  border-radius: 5px;
}
